<div class="mt-4" style="left: 204px;
    top: 72px;
    flex: 0 0 auto;
    width: 80%;
    position: absolute;">
  <h3>Đăng khóa học</h3>
  <form action="/courses/store" method="POST">
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="videoID" class="form-label">videoID</label>
      <input
        type="text"
        class="form-control"
        id="videoID"
        name="videoID"
        placeholder=""
      />
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>

</div>