<div class="mt-4" style="left: 204px;
    top: 72px;
    flex: 0 0 auto;
    width: 80%;
    position: absolute;
    back">
  <h3 style="margin-left: 50%;
    font-weight: bold;">SỬA KHÓA HỌC</h3>
  <form action="/courses/{{course._id}}?_method=PUT" method="POST" style="    width: 50%;
    margin-left: 32%;
    margin-top: 50px;">
  <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
       
        class="form-control"
        id="description"
        name="description"
        placeholder=""
      >{{course.description}}</textarea>
    </div>
    <div class="mb-3">
      <label for="videoID" class="form-label">videoID</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoID}}"
        id="videoID"
        name="videoID"
        placeholder=""
      />
    </div>
    <button type="submit" class="btn btn-primary" style="width: 102px;
    margin-left: 40%;
    margin-top: 19px;">SAVE</button>
  </form>

</div>