<div class="mt-4" style="left: 204px;
    top: 72px;
    flex: 0 0 auto;
    width: 80%;
    position: absolute;
    back">
  <h3>Sửa khóa học</h3>
  <form action="/courses/{{course._id}}?_method=PUT" method="POST">
  <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
       
        class="form-control"
        id="description"
        name="description"
        placeholder=""
      >{{course.description}}</textarea>
    </div>
    <div class="mb-3">
      <label for="videoID" class="form-label">videoID</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoID}}"
        id="videoID"
        name="videoID"
        placeholder=""
      />
    </div>
    <button type="submit" class="btn btn-primary">SAVE</button>
  </form>

</div>