<div class="mt-4">
  <div class="row">

    <div
      class=""
      style="width: 70%; height: 1000px; position: absolute;
            top: 52px;
            left: 114px;"
    >

      <div
        style="width:100% ;padding-left: 78px;
                padding-top: 35px;"
        class="detail_form"
      >
        <iframe
          width="1200"
          height="600"
          src="https://www.youtube.com/embed/{{course.videoID}}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

      </div>
      {{!-- <p>{{course.description}}</p> --}}
      <h2 style="font-weight: bold; margin-left: 76px    ;">{{course.name}}</h2>
      <span style="font-size: 20px; margin-left: 76px " >Cập nhật tháng 11 năm 2022</span>
    </div>

    <div
      class=""
      style="width: 25%;
    height: 1000px;
    position: absolute;
    top: 52px;
    right: 0px;
    background-color: #edeff1;"
    > Hoc Ngay</div>
  </div>
</div>